.movie {
    background-size: cover;
    position:relative;
    width: 250px !important;
    padding: 0 25px 0 25px !important;
}
.movie div {
    display: inline-block;
    font-size:10px;
    width: 100%;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.6);
    color:white;
    padding: 5px;
    box-sizing: border-box;
}

ul{
  height: 400px !important;
}
