<div ng-controller="firstCtrl">
	<script type="text/ng-template" id="movieTemplate">
		<img class="selectedMovieImg" src="{{selectedMovie.image}}">
		<div class="selectedMovieInfo">
			<h1>{{selectedMovie.title}}</h1>
			<div class="bechdelDiv">
				<p>{{selectedMovie.releaseYear}}</p>
			</div>
			<div class="bechdelDiv" ng-repeat="bechdel in bechdelTest">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="29px" height="30px" viewBox="0 0 99 100" enable-background="new 0 0 99 100" xml:space="preserve">
					<circle fill="#00B400" stroke-miterlimit="10" cx="50.573" cy="50" r="27.973"/>
				</svg>
			</div>
			<h3>{{selectedMovie.rating}}/3</h3>
			<p>{{selectedMovie.description}}</p>
		</div>
	</script>


	<div id="bannerContainer">
		<h1>Netflix</h1>
	</div>

	<h2 class="categoryTitle">Acción</h2>
	<ul rn-carousel>
		<li class="movie" ng-repeat="movie in actionMovies track by $index">
			<div class="movieTitle"> {{movie.title}} </div>
			<div ng-click="getInfo($index, 'action')" class="imgContainer">
				<img class="movieImg" src="{{movie.image}}">
			</div>
		</li>
	</ul>

	<h2 class="categoryTitle">Animación</h2>
	<ul rn-carousel>
		<li class="movie" ng-repeat="movie in animationMovies track by $index">
			<div class="movieTitle"> {{movie.title}} </div>
			<div ng-click="getInfo($index, 'animation')"> <img class="movieImg" src="{{movie.image}}"> </div>
		</li>
	</ul>

	<h2 class="categoryTitle">Aventura</h2>
	<ul rn-carousel>
		<li class="movie" ng-repeat="movie in adventureMovies track by $index">
			<div class="movieTitle"> {{movie.title}} </div>
			<div ng-click="getInfo($index, 'adventure')"> <img class="movieImg" src="{{movie.image}}"> </div>
		</li>
	</ul>

	<h2 class="categoryTitle">Drama</h2>
	<ul rn-carousel>
		<li class="movie" ng-repeat="movie in dramaMovies track by $index">
			<div class="movieTitle"> {{movie.title}} </div>
			<div ng-click="getInfo($index, 'drama')"> <img class="movieImg" src="{{movie.image}}"> </div>
		</li>
	</ul>
</div>
